# Secrets
.env

# Lavalink
# We upload application.yml so Railway knows the password/port
# But we DO NOT upload the .jar or logs
*.jar
lavalink/logs/
lavalink/plugins/

# OS/Dependencies
.DS_Store
node_modules/
__pycache__/